header {
  z-index: 1000;
  top: 0;
  left: 0;
  border-bottom: 2px solid #dfe2e1;
  width: 100%;
  .navbar-toggler {
    border: 2px solid rgb(21, 212, 21);
  }
  ul {
    li {
      font-size: 1.2rem;
    }
  }
  .user {
    min-width: 100px;
    min-height: 30px;
  }
  .sign-out:hover, .settings:hover {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    color: rgb(88, 192, 88);
    background-color: transparent;
}
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -80px;
  margin-top: var(--bs-dropdown-spacer);
}
.dropdown-toggle::after {
  display: none;

}

.icon-wrapper span {
  right: -10px ;
  top: -5px;
}