:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

input,
button {
  outline: 0;
}

.heading-color {
  color: #21313c;
}

.brd-bottom {
  border-bottom: 2px solid #dfe2e1;
}

.bg-white {
  background-color: rgb(235, 228, 228);
}

.transition {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}