@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.active {
  background-color: green;
  color: white !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
input,
button {
  outline: 0;
}
::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: green;
  width: 0.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.heading-color {
  color: #21313c;
}

.brd-bottom {
  border-bottom: 2px solid #dfe2e1;
}

.bg-white {
  background-color: rgb(235, 228, 228);
}

.transition {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.mt-all {
  margin-top: 92px;
}

td {
  vertical-align: middle;
}
.custom-tooltip {
  --bs-tooltip-bg: green;
  --bs-tooltip-color: white;
  font-weight: bold;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(10, 173, 10, 0.3);
}
input::placeholder {
  color: rgb(29, 128, 29) !important;
}
input[type="radio"],
input[type="radio"]:checked::before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(25, 135, 84, 1);
  cursor: pointer;
  /* outline: none; */
  position: relative;
}
input[type="radio"]:checked {
  background-color: rgba(25, 135, 84, 1);
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* .table-responsive {
  max-width: 100%;
} */
@media (min-width: 992px) {
  .table-responsive {
    overflow: hidden;
  }
}

.active-heart {
  color: red;
  animation: heart-loading 2s alternate infinite ease-out;
  -webkit-animation: heart-loading 1s alternate infinite ease-out forwards;
}

@keyframes heart-loading {
  from {
    transform: rotate(360deg) scale(1.5);
    -webkit-transform: rotate(360deg) scale(1.5);
    -moz-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    -o-transform: rotate(360deg) scale(1.5);
  }
  to {
    transform: rotate(-360deg) scale(2);
    -webkit-transform: rotate(-360deg) scale(2);
    -moz-transform: rotate(-360deg) scale(2);
    -ms-transform: rotate(-360deg) scale(2);
    -o-transform: rotate(-360deg) scale(2);
  }
}
